
/*******************Fonts**********************/
@import url('https://fonts.googleapis.com/css?family=Oregano');

/*******************Général********************/
.body{
    margin: 0px;
}

html
{
overflow-x: hidden
}
/*******************MenuSidenav****************/

nav {
    background-color:rgb(182, 207, 229);
}
a.brand-logo {
    font-size:26px;
    font-family: 'Oregano', cursive;
}

.menu-icon{
    font-size: 60px;
    color:#FFFFFF;
}

.sidenav {
    background-color:white;
}

.container-background {
    background-color:rgb(182, 207, 229);
}

.user-view{
    background-color:rgb(182, 207, 229);
}
/*******************Profil*********************/

.profil_container {
    align-items: center;
    height: 400px;
    text-align: center;
    font-family: 'Oregano', cursive;
    text-overflow: ellipsis;
}


h5{
    margin-bottom: 100px;
}


/*******************Slider**********************/

.container-background-slider {
    background-color:#FFFFFF;
}
.slider {
    margin-top:100px;
    margin-bottom:100px;
}


/*******************Parallax********************/
.image-parallax {
    background-size:contain;
}
/*******************Compétence******************/
.container-background-competences {
    background-color:#FFFFFF;
}

.container-competence {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    padding-top:30px;
}

.download-now img{
    width: 100%;
}

svg, .available-on-item img{
    width:100px;
}

.available-title{
    padding-top: 75px;
}

.available-title h2{
    color:#FFFFFF;
    font-size: 30px;
}

.no-padding{
    padding-left: 0;
    padding-right:0;
}

.available-on-item{
    text-align: center;
    
    position: relative;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}

.available-on-item:hover{
    background-color:#535C6D;
}

.available-on-item img, .available-on-item svg{
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size:40px;
    padding-top: 90px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.available-on-item:hover img, .available-on-item:hover svg {
    opacity:0.05;
}

.available-on-inner{
    position: absolute;
    bottom:93px;
    width:100%;
    opacity:0;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}

.available-on-inner h2{
    text-align: center;
    font-weight: 300;
    color: #FFFFFF;
    font-size:38px;
    font-family:'Oregano', cursive;
}

@media screen and (max-width: 640px) {
    .h2 {
      font-size:15px;
    }
  }

.available-on-item:hover div.available-on-inner{
    opacity: 1;
}

/*******************Créations*******************/

.container-background-creation {
    background-color:#FFFFFF;
}
.container-creation {
    text-align: center;
}
.image-creation {
    width: 70%;
    margin-top:20px;
    transition: transform .2s; /* Animation */
}
.image-creation:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
}

.image-creation {
    cursor: pointer;
}
/*********************Footer********************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer {
    background-color: rgb(182, 207, 229);;
    color: #FFFFFF;
}

.boutton-me-contacter {
    display: flex;
    justify-content: space-around;

}
