
/*******************Fonts**********************/
@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Slab');
/*******************Général********************/
.body{
    margin: 0px;
    font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

html
{
overflow-x: hidden;
}
/*******************MenuSidenav****************/

a.brand-logo {
    font-size:26px;
    font-family: 'Cabin', sans-serif;
}

.menu-icon{
    font-size: 60px;
    color:#FFFFFF;
    margin-top:50px;
}

.sidenav {
    background-color:white;
}

.container-background {
    background-image: url('../images/background-profil.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;


}

.user-view{
    background-color: #554180;
}
/*******************Profil*********************/

.profil_container {
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.profil_container h4 {
    margin-top:100px;
    margin-bottom:100px;
    text-shadow:2px black;
}

.profil_container h5 {
    margin-top:100px;
    margin-bottom:100px;
}
/*******************Slider**********************/

.container-background-slider {
    background-image:#FFFFFF;
}
.slider {
    margin-top:100px;
    margin-bottom:100px;
}

/*******************Parallax********************/
.image-parallax {
    background-size:contain;
}
/*******************Compétence******************/
.container-background-competences {
    background-color:#FFFFFF;
    font-family: 'Cabin', sans-serif;
    padding-top: 50px;
}

.container-competence {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    padding-top:10px;
}

.container-background-competences h5 {
    margin-bottom : 50px;
}

.download-now img{
    width: 100%;
}

svg, .available-on-item img{
    width:100px;
}

.available-title{
    padding-top: 75px;
}

.available-title h2{
    color:#FFFFFF;
    font-size: 30px;
}

.no-padding{
    padding-left: 0;
    padding-right:0;
}

.available-on-item{
    text-align: center;
    position: relative;
    border-bottom:1px solid #FFFFFF;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
    margin-bottom:25px;
}

.available-on-item img, .available-on-item svg{
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}


.available-on-item:hover img, .available-on-item:hover svg {
    opacity:0.5;
}

.available-on-inner{
    position: absolute;
    bottom:93px;
    width:100%;
    opacity:0;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}

.available-on-inner h2{
    text-align: center;
    font-weight: 300;
    color: #353B49;
    font-size:38px;
    font-family: 'Cabin', sans-serif;
}

@media screen and (min-width: 320px) {
    .available-on-inner h2 {
      font-size:20px;
    }

.available-on-item:hover div.available-on-inner{
    opacity: 1;
}

/*******************Créations*******************/

.container-background-creation {
    background-color:#FFFFFF;
    padding-bottom: 100px;
}
.container-creation {
    text-align: center;
}
.image-creation {
    width: 70%;
    margin-top:20px;
    transition: transform .2s; /* Animation */
}
.image-creation:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-creation {
    cursor: pointer;
}
/*********************Footer********************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.page-footer {
    background-color: #B4CEE4;
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
}


.boutton-me-contacter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom:50px;

}

label {
    color: white!important;
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #005eed !important;
   }


.input-field input[type=text]:focus, .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #005eed !important;
    box-shadow: 0 1px 0 0 #005eed !important;
}

